body {
  color: #f00; }

a {
  color: #00f; }
  a:hover {
    font-weight: bold;
    text-decoration: underline; }
  a  loop-0 {
    font-weight: 0; }
  a   loop-1 {
    font-weight: 1; }
  a    loop-2 {
    font-weight: 2; }
  a     loop-3 {
    font-weight: 3; }
  a      loop-4 {
    font-weight: 4; }
  a       loop-5 {
    font-weight: 5; }
  a        loop-6 {
    font-weight: 6; }
  a         loop-7 {
    font-weight: 7; }
  a          loop-8 {
    font-weight: 8; }
  a           loop-9 {
    font-weight: 9; }